.bloco2 img
{
    margin: 10px;
    float: left;
}

body
{
    font-family: Georgia;
    font-size: 20px;
}

h1, h2 
{
    margin: 0px;
}

p
{
    line-height: 1.5em;
}

div.base
{
    width: 960px;
    margin: auto;
}

.bloco1
{
    width: 200px;
    float: left;
}

.bloco2
{
    width: 500px;
    float: left;
}

.bloco3
{
    margin-left: 700px;
}